/* INIZIO GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 1000px;
  background-color: green;
}

.border{
  border: 1px dashed black;
}
/* FINE GENERAL */

/* INIZIO HEADER */
header{
  display: flex;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: #add8e6;
}

.topmenu{
  display: flex;
  justify-content: space-between;

  height: 40px;
  background-color: #daa520;
}

header .border{ /*DIV LOGO E LOGIN*/
  /* centrare verticalmente */
  display: flex;
  align-items: center;
  /* centrare verticalmente */
  width: 20%;
}

nav.border{
  width: 60%;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  /* centrare gli elementi della lista */
  list-style: none;
}

nav ul li{
  margin-right: 15px;
}

nav ul li a{
  color: black;
  text-decoration: none;
}
/* FINE HEADER */

/* INIZIO MAIN */

                /* INIZIO JUMBOTRON */

main .jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 400px;
  background-color: #00008b;
}

main .jumbotron .border{
  width: 45%;
  height: 80%;
  background-color: #ee82ee;
}

                /* FINE JUMBOTRON */

                /* INIZIO BOX */

main .sfondo{
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  width: 100%;
  height: 500px;
}
main .sfondo.bianco{
  background-color: white;
}

main .sfondo.grigio{
  background-color: lightgray;
}

main .sfondo .content-big{
  width: 40%;
  height: 80%;
  background-color: #1e90ff;
}

.content-small{
  width: 20%;
  height: 80%;
  background-color: #ffc0cb;
}

                /* FINE BOX */

                /*INIZIO VERDE*/

main .sfondo.grigio .container{
  height: 90%;
}

                /*FINE VERDE*/

                /*INIZIO SCURO*/



                /*FINE SCURO*/

main .sfondo.scuro{
  background-color: #23272a;
}

/* FINE MAIN */